aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aioresponses==0.7.6
aiosignal==1.3.1
asgiref==3.8.1
attrs==24.2.0
backoff==2.2.1
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.3.0
cryptography==43.0.1
cycler==0.12.1
dataclasses-json==0.6.7
defusedxml==0.7.1
distlib==0.3.8
Django==5.1.1
django-cors-headers==4.4.0
django-templated-mail==1.1.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djoser==2.2.3
dnf==4.21.1
filelock==3.16.0
Flask==3.0.3
fonttools==4.54.1
frozenlist==1.4.1
idna==3.10
inference-sdk==0.9.17
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.7
libcomps==0.1.20
libdnf==0.73.3
MarkupSafe==3.0.1
marshmallow==3.22.0
matplotlib==3.9.2
multidict==6.1.0
mypy-extensions==1.0.0
mysqlclient==2.2.4
numpy==2.1.2
oauthlib==3.2.2
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
packaging==24.1
pandas==2.2.3
pillow==10.4.0
platformdirs==4.3.1
propcache==0.2.0
psycopg2-binary==2.9.9
py-cpuinfo==9.0.0
pycparser==2.22
PyJWT==2.9.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rpm==4.19.1.1
scikit-learn==1.5.2
scipy==1.14.1
setuptools==75.1.0
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.1
supervision==0.24.0
threadpoolctl==3.5.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.26.4
Werkzeug==3.0.4
yarl==1.14.0
