{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'core/css/home.css' %}" />
        <script>
            function openFlaskApp(event) {
                event.preventDefault(); // Prevent the default form submission
                // Open the Flask app in a new tab
                window.open("http://127.0.0.1:5000", "_blank");

                // Submit the form to trigger the script execution
                document.getElementById("flaskForm").submit();
            }
        </script>
    </head>

    <body>
        <header class="header">
            <nav class="navbar">
                <a href="#" class="nav-logo">Dashboard</a>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link"
                            >Register</a
                        >
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
        </header>

        <div class="centered-text">
            <h1>NOTICE BOARD</h1>
        </div>

        <main role="main" class="container bootdey.com notice-board">
            <!-- Emergency and recent updates here -->
            <small class="d-block text-right mt-3">
                <a href="#">All messages</a>
            </small>
        </main>

        <div class="centered-text">
            <div class="location-tracking">
                <button id="trackingButton">
                    <h2>Start Tracking Location</h2>
                </button>
                <div id="locationDisplay"></div>
            </div>
        </div>

        <!-- Add form to trigger script execution -->
        <div class="centered-text">
            <form
                method="POST"
                action="{% url 'execute_script' %}"
                id="flaskForm"
            >
                {% csrf_token %}
                <button
                    type="button"
                    class="large-button"
                    onclick="openFlaskApp(event)"
                >
                    Run Python Script
                </button>
            </form>
        </div>
    </body>
</html>
