@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(-45deg, #ffffff, #383269);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after,
.input-field select:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 0.4rem; /* Add padding for consistency */
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.input-field select {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 0.4rem; /* Consistent padding */
    border: none;
    background-color: white;
    position: relative;
}

.input-field select::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.input-field .underline {
    position: relative;
    margin-top: -5px; /* Adjust for dropdown */
}

.input-field .underline::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #4776e6, #8e54e9);
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776e6, #8e54e9);
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

.footer .social-field {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

.footer .social-field a {
    text-decoration: none;
    color: white;
}

.footer .social-field.twitter {
    background: linear-gradient(to right, #56a7f2, #468aca);
}

.footer .social-field.facebook {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #e2e8f0;
    background-color: #222;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* background-color: #101010; */
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    /* font-size: 1.6rem; */
    font-size: 2rem;
    font-weight: 400;
    /* color: #475569; */
    color: #fff;
    /* change */
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    /* font-size: 2.1rem; */
    font-size: 3rem;
    font-weight: 500;
    /* color: #482ff7; */
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        /* background-color: #fff; */
        background-color: #222;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
        color: #fff;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.centered-text {
    font-family: "Helvetica", "Arial", sans-serif; /* Sans-serif font */
    font-weight: 300; /* Thin font */
    font-size: 4rem; /* Large text size */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Text align center */
    margin: 0; /* Remove margins */
}

/* Adjust the heading margin to reduce space */
.centered-text h1 {
    margin-top: 100px;
    margin-bottom: 100px; /* Adjust this value as needed */
}

.centered-text h6 {
    margin: 0; /* Remove default margin */
}

.drop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center items horizontally */
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition:
        background 0.2s ease-in-out,
        border 0.2s ease-in-out;
}

input[type="file"] {
    display: none; /* Hide the default file input */
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color 0.2s ease-in-out;
}

/* Style for the actual file upload area */
.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.upload-button {
    display: block;
    margin: 20px auto; /* Center the button */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #0056b3;
}
